#app > div {
    border: solid rgb(62, 164, 233) 1px;
    width: 80%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  figure {
    width: 200px;
    padding: 10px;
    margin: 10px;
    background-color: lightskyblue;
    border-radius: 5px;
  }

  figcaption {
    text-align: center;
    justify-content: center;
  }
  img {
    width: 100%;
  }
