body {
    background-color: rgb(136, 14, 14);
  }
  
  h1 {
    color: rgb(33, 86, 99);
    text-align: center;
    text-decoration-line: overline;
    text-decoration-color: rgb(145, 123, 2);
    font-family: "Lucida Console";
  }

  
  p {
    color: rgb(33, 86, 99);
    font-family: verdana;
    font-size: 20px;
  }