body {
    background-color: lightblue;
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  h1 {
    text-decoration-line: overline;
    text-decoration-color: rgb(145, 123, 2);
  }
  h1 {
    font-family: "Lucida Console";
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }